.sign-img-container {
  display: flex;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;

  align-items: center;
  cursor: pointer;
}

.sign-img-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  background-color: lightgray;
}

.sign-img-container > img {
  height: 50%;
  width: 50%;
}

.sign-icon {
  margin: 0 10px;
}

.sign-name {
  cursor: pointer;
}
