* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("./assets/art-ball-close-up-1935854.jpg");
  background-size: cover;
  overflow: scroll;
}
.svg-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 50% 50%, 0% 60%);
  opacity: 0.5;

  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%239C92AC' fill-opacity='0.58' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.sun-svg {
  position: absolute;
  height: auto;
  width: 50px;
  right: 0px;
  top: 0;
}
.black-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(100% 100%, 100% 0%, 50% 50%, 0% 60%);
  opacity: 0.2;
  background-color: black;
}
.white-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 100%, 0% 60%, 100% 100%);
  opacity: 0.4;
  background-color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  font-size: 50px;
  color: white;
  z-index: 1;
  position: relative;
}

.logo-border {
  position: absolute;
  bottom: -10px;
  height: 10px;
  width: 108%;
  border-radius: 50px;

  background-color: white;
}

.App-link {
  color: #61dafb;
}

.sign-icon-cont {
  display: flex;
  position: relative;
  width: 600px;
  flex-wrap: wrap;

  height: 475px;
}

.main-page-bottom {
  height: 70%;
  position: relative;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  flex-direction: column;
}
.main-content {
  height: 90%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.horoscope-header {
  display: flex;
  justify-content: center;
  height: 10%;
  position: relative;
}

.horoscope-header-txt {
  font-size: 40px;
  color: white;
  margin: unset;
}

.tweet-check-click {
  position: absolute;
  bottom: -25px;
  color: white;
  cursor: pointer;
}

.blurred {
  filter: blur(6px);
  user-select: none;
  pointer-events: none;
}

.main-page-top {
  padding: 10px;
  height: 30%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

nav > ul {
  display: flex;
}
